/*test*/ /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
body {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

main {
  background-color: #fffef8;
  padding: 0 150px;
}

section {
  padding: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #b1663c;
}
h1 > span {
  margin-top: 4px;
  font-family: "Work Sans";
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: Uppercase;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1d6154;
}

.modal__form, #contact form, #login form,
.login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
.modal__form input, #contact form input, #login form input,
.login form input,
.modal__form select,
#contact form select,
#login form select,
.login form select {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  background-color: white;
}
.modal__form input[type=text]:focus, #contact form input[type=text]:focus, #login form input[type=text]:focus,
.login form input[type=text]:focus, .modal__form input[type=email]:focus, #contact form input[type=email]:focus, #login form input[type=email]:focus,
.login form input[type=email]:focus, .modal__form input[type=password]:focus, #contact form input[type=password]:focus, #login form input[type=password]:focus,
.login form input[type=password]:focus,
.modal__form select[type=text]:focus,
#contact form select[type=text]:focus,
#login form select[type=text]:focus,
.login form select[type=text]:focus,
.modal__form select[type=email]:focus,
#contact form select[type=email]:focus,
#login form select[type=email]:focus,
.login form select[type=email]:focus,
.modal__form select[type=password]:focus,
#contact form select[type=password]:focus,
#login form select[type=password]:focus,
.login form select[type=password]:focus {
  outline: 1px solid #b1663c;
}
.modal__form label, #contact form label, #login form label,
.login form label {
  font-weight: 500;
}
.modal__form textarea, #contact form textarea, #login form textarea,
.login form textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  background-color: white;
}
.modal__form textarea:focus, #contact form textarea:focus, #login form textarea:focus,
.login form textarea:focus {
  outline: 1px solid #b1663c;
}

header {
  background-color: #fffef8;
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
}
header nav ul {
  height: 42px;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 32px;
}
header nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
header nav li img {
  width: 22px;
  height: 22px;
}
header nav li:hover {
  color: #b1663c;
}
header nav a {
  color: black;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}
header nav a:hover {
  color: #b1663c;
}
header nav a.active {
  font-weight: 600;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img,
#introduction .modifier-button {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  position: relative;
  text-align: center;
  margin-bottom: 1em;
}
#portfolio h2 .modifier-button {
  position: absolute;
  margin-left: 31px;
}
#portfolio .filters-container {
  margin: 51px auto;
  width: 585px;
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  gap: 10px;
}
#portfolio .filters-container button:nth-child(3) {
  width: 157px;
}
#portfolio .filters-container button:nth-child(4) {
  width: 198px;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gallery img {
  width: 100%;
}

#contact, #login,
.login {
  width: 50%;
  margin: auto;
}
#contact > *, #login > *,
.login > * {
  text-align: center;
}
#contact h2, #login h2,
.login h2 {
  margin-bottom: 20px;
}
#contact label, #login label,
.login label {
  margin: 2em 0 1em 0;
  font-weight: 500;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

#login,
.login {
  height: 872px;
}
#login__message,
.login__message,
.modal__content__message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 30px;
}
#login__message .brown,
.login__message .brown,
.modal__content__message .brown {
  color: #b1663c;
}
#login__message .fa-info,
.login__message .fa-info,
.modal__content__message .fa-info {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: initial;
  padding-bottom: 0.5px;
  font-size: 9px;
  border: 1px solid;
  width: 14.5px;
  height: 14px;
  border-radius: 50%;
}
#login__mail-message,
.login__mail-message {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  gap: 10px;
  height: 30px;
}
#login__password-message,
.login__password-message {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  gap: 10px;
  height: 2em;
}
#login a,
.login a {
  color: #3d3d3d;
  font-weight: 500;
  display: block;
  text-decoration: underline;
}
#login a i,
.login a i {
  margin-left: 10px;
  color: #1d6154;
}
#login a:hover,
.login a:hover {
  color: #93532f;
}
#login h2,
.login h2 {
  padding-top: 100px;
}
#login label,
.login label {
  color: #3d3d3d;
  margin-top: 0;
}
#login #login__button,
.login #login__button {
  margin-top: 0px;
}

#edition-menu {
  z-index: 1;
  transform: translateY(-1px);
  position: relative;
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: 21px;
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
}
#edition-menu .fa-pen-to-square {
  padding-right: 9px;
}
#edition-menu > button {
  color: black;
  height: 38px;
  margin: 11px 0 10px 0;
  background-color: white;
  font-family: "work sans";
  padding: 0 23px;
  border: none;
}
#edition-menu > button:hover {
  background-color: rgb(240, 240, 240);
}

.modifier-button {
  font-family: "work sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  text-align: left;
  color: black;
}
.modifier-button::before {
  font-family: "fontAwesome";
  content: "\f044";
  padding-right: 8px;
}
.modifier-button:hover {
  color: #b1663c;
  cursor: pointer;
}

button {
  height: 37px;
  min-width: 100px;
  border: 1px solid #1d6154;
  color: #1d6154;
  background-color: #fffef8;
  font-family: "Syne";
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  border-radius: 60px;
  transition: 0.2s;
}
button:hover {
  background-color: #0e2f28;
  color: #fffef8;
  cursor: pointer;
}
button.btn-filter-selected {
  background-color: #1d6154;
  color: #fffef8;
  cursor: default;
}

.modal__form__submit-btn, .modal__form__upload-picture-btn, .modal__add-picture-btn, .modal__form input[type=submit],
.modal__form select[type=submit], #contact form input[type=submit],
#contact form select[type=submit], #login form input[type=submit],
.login form input[type=submit],
#login form select[type=submit],
.login form select[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  transition: 0.2s;
}
.modal__form__submit-btn:hover, .modal__form__upload-picture-btn:hover, .modal__add-picture-btn:hover, .modal__form input[type=submit]:hover,
.modal__form select[type=submit]:hover, #contact form input[type=submit]:hover,
#contact form select[type=submit]:hover, #login form input[type=submit]:hover,
.login form input[type=submit]:hover,
#login form select[type=submit]:hover,
.login form select[type=submit]:hover {
  cursor: pointer;
  background-color: #0e2f28;
}

/* --- Modal --- */
.modal {
  color: black;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 59px;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.modal__close-btn {
  float: right;
  width: 24px;
  height: 24px;
  margin: 26px 30px 0;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  line-height: 24px;
}
.modal__close-btn:hover {
  cursor: pointer;
}
.modal__previous-btn {
  float: left;
  width: 21px;
  height: 21px;
  margin: 26px 0 0 30px;
  background-image: url(../icons/back-arrow.svg);
}
.modal__previous-btn:hover {
  cursor: pointer;
}
.modal__add-picture-btn {
  display: block;
  border: none;
  height: 37px;
  margin: 38px auto 0 auto;
  width: 237px;
}
.modal__remove-gallery-btn {
  display: block;
  background-color: #fefefe;
  border: none;
  color: #d65353;
  font-family: "Syne";
  font-size: 14px;
  font-weight: 400;
  margin: 23px auto 0 auto;
  width: 230px;
  transition: all 0.2s;
}
.modal__remove-gallery-btn:hover {
  color: #ff5353;
  cursor: pointer;
}
.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: initial;
  gap: initial;
  width: 50%;
  max-width: 630px;
  max-width: 630px;
  position: absolute;
  height: -moz-fit-content;
  height: fit-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: transparent;
  animation-name: animatetop;
  animation-duration: 0.5s;
}
.modal__content__page1 {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 10px;
  padding-bottom: 53px;
  background-color: #fefefe;
}
.modal__content__title1, .modal__content__title2 {
  width: 100%;
  margin-top: 55px;
  margin-bottom: 46px;
  font-family: "Work Sans";
  font-size: 26px;
  font-weight: 400;
  line-height: 30.5px;
  color: black;
  text-align: center;
}
.modal__content__container1 {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 9px;
  grid-row-gap: 12px;
  width: 66.6666666667%;
  padding-bottom: 47px;
  border-bottom: 1px solid #b3b3b3;
}
.modal__content__picture {
  width: 100%;
}
.modal__content__picture:hover {
  cursor: pointer;
}
.modal__content__picture:hover + span {
  cursor: pointer;
  display: inline-block;
  opacity: 100%;
}
.modal__content__move-btn {
  opacity: 0;
  position: absolute;
  top: 6px;
  right: 25px;
  width: 17px;
  height: 17px;
  background-size: 100%;
  background-image: url(../icons/move.svg);
  transition: all 0.1s;
}
.modal__content__move-btn:hover {
  cursor: pointer;
  opacity: 1;
}
.modal__content figure {
  position: relative;
}
.modal__content__trash-btn {
  display: inline-block;
  position: absolute;
  top: 6px;
  right: 5px;
  width: 17px;
  height: 17px;
  background-image: url(../icons/trash.svg);
}
.modal__content__trash-btn:hover {
  cursor: pointer;
}
.modal__content__edit-btn {
  height: 14px;
  line-height: 14px;
  font-size: 0.84vw;
}
.modal__content__edit-btn:hover {
  color: #b1663c;
  cursor: pointer;
}
.modal__content__page2 {
  position: absolute;
  height: 0px;
  width: 100%;
  border-radius: 10px;
  background-color: #fefefe;
  height: -moz-fit-content;
  height: fit-content;
  transform: translateX(100%);
}
.modal__content__title2 {
  margin-top: 60px;
  margin-bottom: 0;
}
.modal__content__message {
  width: 66.6666666667%;
  color: #93532f;
  margin: 3px auto;
}
.modal__content .info {
  background-color: lightblue;
  color: black;
}
.modal__content .info .fa-info {
  color: black;
}
.modal__content__container2 {
  width: 66.6666666667%;
  margin: 0 auto 55px auto;
}
.modal__form {
  margin-bottom: 47px;
  margin-top: 0;
}
.modal__form input#title {
  font-size: 14px;
  padding-left: 16px;
  font-weight: 400;
  font-family: "Work Sans";
}
.modal__form__preview {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  gap: initial;
  background-color: #e8f1f6;
  padding: 22px 20px 19px 20px;
}
.modal__form li {
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  gap: initial;
}
.modal__form__picture-preview {
  width: 30%;
  align-self: center;
}
.modal__form #image {
  visibility: hidden;
  height: 0;
}
.modal__form__upload-picture-btn {
  display: block;
  height: 36px;
  width: 178px;
  margin: 15px 0 7px 0;
  line-height: 36px;
  border: none;
  background-color: #c8d6dc;
  color: #306685;
}
.modal__form__upload-picture-btn:hover {
  background-color: #b8cad2;
  color: #295872;
}
.modal__form__info-format {
  font-size: 10px;
}
.modal__form__label {
  margin: 21px 0 10px 0;
}
.modal__form__select-container {
  position: relative;
}
.modal__form__select-container::after {
  content: url("../icons/select-arrow.svg");
  pointer-events: none;
  display: inline-block;
  position: absolute;
  right: 23px;
  top: 18px;
}
.modal__form__select-container select {
  padding-left: 16px;
  font-family: "Work Sans";
  font-size: 1em;
  width: 100%;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.modal__form__submit-btn-container {
  margin-top: 47px;
  border-top: 1px solid #b3b3b3;
}
.modal__form__submit-btn {
  display: block;
  height: 36px;
  width: 237px;
  margin-top: 32px;
  font-size: 14px;
  border: none;
}
.modal__form__submit-btn:disabled {
  background-color: #a7a7a7;
  color: #fefefe;
}
.modal__form__submit-btn:disabled:hover {
  background-color: #a7a7a7;
  color: #fefefe;
  cursor: default;
}
.modal__form__submit-btn:hover {
  background-color: #0e2f28;
}

@keyframes animatetop {
  from {
    top: -800px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}