#login,
.login {
  height: 872px;
  @extend #contact;

  &__message {
    @include flex($direction:row, $align: center, $justify: center, $gap: 10px);
    height: 30px;
     .brown {
    color: $secondary_color;
  }
  .fa-info {
    @include flex($align: center, $justify: center);
    padding-bottom: 0.5px;
    // padding-left:1px;
    font-size: 9px;

    border: 1px solid;
    width: 14.5px;
    height: 14px;
    border-radius: 50%;
  }
   
  }
  &__mail-message {
    @include flex($align: center, $gap: 10px);
    height: 30px;
  }
  &__password-message {
    @include flex($align: center, $gap: 10px);
    height: 2em;
  }
  //for waiting message
 
  a {
    color: $login-page-text_color;
    font-weight: 500;
    display: block;
    text-decoration: underline;
    i {
      margin-left: 10px;
      color: $primary_color;
    }

    &:hover {
      color: $tertiary_color;
    }
  }
  h2 {
    padding-top: 100px;
  }
  label {
    color: $login-page-text_color;
    margin-top: 0;
  }

  #login__button {
    margin-top: 0px;
  }
}